*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif
}

/* UTILITà */
.container{
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.row{
    display: flex;
}


.wrap{
    display: flex;
    flex-wrap:wrap;
}

.aling-center{
    display: flex;
    align-items: center;
}

.relative{
    position: relative;
}
/*FINE UTILITà */


/* HEADER */
header{
    padding-top: 20px; 
    padding-bottom: 20px;
    background-color: rgb(247, 107, 52);
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
}
header .row{
    justify-content: center;

}
.col-33{
    width: 33%;
    /* border: 1px dashed rgb(0, 0, 0); */

}
/* Link Donna Uomo Bambino */
.col-33:first-child a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 12px;
}
/* Logo Boolean */
.col-33 img{
    width: 100px;
}
.content-logo{
    display: flex;
    justify-content: center;
}

/* icone shop  */
.col-33:last-child{
    color: white;
    text-align: end;
}
/*FINE HEADER */


/* INIZIO MAIN */

main .container{
    margin-top:100px;
    margin-bottom: 50px;
}
.col-card{
    width: calc(100%/3 - 20px);
    margin: 10px;
    /* border: 1px dashed rgb(0, 0, 0); */
}
/* IMG */
.col-card img{
    width: 100%;
}
.content-img:hover .second-img{
    display: block;
    width: 100%;
}

.content-img:hover .first-img{
    display: none;
    width: 100%;
}

.content-img .first-img{
    display: block;
}

.content-img .second-img{
    display: none;
}

/* Label - Sconti */
.label-red{
    background-color: red;
    padding: 5px 10px 5px 10px;
}

.label-green{
    background-color: green;
    padding: 5px 10px 5px 10px;
}

.content .label {
    position: absolute;
    bottom: 100px;
    color: white;
    font-size: 12px;
    font-weight: bolder;

}
/* Cuore */
.content .cuore {
    position: absolute;
    top: 10px;
    right: 0px;
}
.cuore{
    font-size: 30px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}
/* Info item */
.info-item div:nth-child(odd){
    font-size: 13px;
}

.info-item div:nth-child(2){
    font-weight: bold;   
}


.info-item div:nth-last-of-type(1){
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-size: 14px;
}

.info-item div :last-child{
    color: black;
    text-decoration: line-through;
    font-weight: lighter;
}
/* FINE MAIN */

/* INIZIO FOOTER */
footer{
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 20px;
}
.col-50{
    width: 50%;
    /* border: 1px dashed rgb(255, 255, 255); */
}

/* Col-left */
/* Boolando s.r.l */
.col-50 .content:first-child{
    color: white;
    font-size: 17px;
    font-weight: bolder;
    line-height: 25px;
}
/* info privacy */
.col-50 .content:first-child a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 12px;
    font-weight: lighter;
}

/* Col-right */
/* icone pagine */

#special{
    font-size: 14px;
    padding-right: 10px;

}
.col-50:last-child{
    color: white;
    text-align: end;
}
.col-50 .content i{
    font-size: 25px;
}


/* FINE FOOTER */