*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif
}

/* UTILITà */
.container{
    width: 70%;
    margin: 0 auto;
}

.row{
    display: flex;
}


.wrap{
    display: flex;
    flex-wrap:wrap;
}

.aling-center{
    display: flex;
    align-items: center;
}

.relative{
    position: relative;
}
/*FINE UTILITà */


/* HEADER */
header{
    background-color: rgb(247, 107, 52);
    width: 100%;
    height: 50px
}
header .row{
    padding-top: 10px; 
    justify-content: center;

}
.col-33{
    width: 33%;
    border: 1px dashed rgb(0, 0, 0);

}

/* Link Donna Uomo Bambino */
.col-33:first-child a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 12px;
}
/* Logo Boolean */
.col-33 img{
    width: 100px;
   
}
.content-logo{
    display: flex;
    justify-content: center;
}

/* icone shop  */
.col-33:last-child{
    color: white;
    text-align: end;
}
/*FINE HEADER */


/* INIZIO MAIN */
.col-card{
    width: calc(100%/3 - 20px);
    margin: 10px;
    /* height: 600px; */
    border: 1px dashed rgb(0, 0, 0);
}

/* IMG */
.col-card img{
    width: 100%;
}

.content-img:hover .second-img{
    display: block;
    width: 100%;
}

.content-img:hover .first-img{
    display: none;
    width: 100%;
}

.content-img .first-img{
    display: block;
}

.content-img .second-img{
    display: none;
}

/* Label - Sconti */
.label-red{
    background-color: red;
    padding: 5px 10px 5px 10px;
}

.label-green{
    background-color: green;
    padding: 5px 10px 5px 10px;
}

.content .label {
    position: absolute;
    bottom: 100px;
    color: white;
    font-size: 12px;
    font-weight: bolder;

}
/* Cuore */
.content .cuore {
    position: absolute;
    top: 10px;
    right: 0px;
}
.cuore{
    font-size: 30px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}
/* Info item */
.info-item div:nth-child(odd){
    font-size: 13px;
}

.info-item div:nth-child(2){
    font-weight: bold;   
}


.info-item div:nth-last-of-type(1){
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-size: 14px;
}

.info-item div :last-child{
    color: black;
    text-decoration: line-through;
    font-weight: lighter;
}


/* FINE MAIN */

/* INIZIO FOOTER */
footer{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
}

.col-50{
    width: 50%;
    height: 50px;
    border: 1px dashed rgb(255, 255, 255);
}
/* FINE FOOTER */